@inherits NantCom.NancyBlack.NancyBlackRazorViewBase
<!DOCTYPE html>
<html>
<head>
    <title>
        @(this.SEOContent.Title)
    </title>

    @if (!string.IsNullOrEmpty(this.SEOContent.MetaKeywords))
    {
        <meta name="keywords" content="@(this.SEOContent.MetaKeywords)">
    }

    @if (!string.IsNullOrEmpty(this.SEOContent.MetaDescription))
    {
        <meta name="description" content="@(this.SEOContent.MetaDescription)">
    }

    @if (this.Content != null)
    {
        <meta property="og:title" content="@this.SEOContent.Title" />
        <meta property="og:description" content="@this.SEOContent.MetaDescription" />
        <meta property="og:image" content="@this.GetAttachmentUrl("OpenGraphImage", fullPath:true)" />
    }

    <!-- Facebook Open Graph Tag-->
    <meta property="og:url" content="@this.GetOpenGraphUrl()" />
    <meta property="og:type" content="article" />
    <meta property="fb:app_id" content="@(this.Site.Application.FacebookAppId)" />

</head>
<body>
    This is a Content for Facebook Scraper
</body>
</html>