@inherits NantCom.NancyBlack.NancyBlackRazorViewBase
<!DOCTYPE html>
<html>
<head>

    <title>
        @(this.SEOContent.Title)
        @RenderSection("Title", false)
    </title>

    @if (!string.IsNullOrEmpty(this.SEOContent.MetaKeywords))
    {
        <meta name="keywords" content="@(this.SEOContent.MetaKeywords)">
    }

    @if (!string.IsNullOrEmpty(this.SEOContent.MetaDescription))
    {
        <meta name="description" content="@(this.SEOContent.MetaDescription)">
    }

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">

    <link rel="apple-touch-icon" sizes="57x57" href="/__favicon/57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/__favicon/60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/__favicon/72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/__favicon/76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/__favicon/114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/__favicon/120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/__favicon/144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/__favicon/152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/__favicon/180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/__favicon/192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/__favicon/32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/__favicon/96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/__favicon/16x16.png">
    <link rel="icon" type="image/png" href="/__favicon/16x16.png">
    <link rel="shortcut icon" href="/__favicon/16x16.ico" />
    <link rel="manifest" href="/__favicon/manifest.json">
    <meta name="msapplication-TileImage" content="/__favicon/ms-icon-144x144.png">

    @if (this.Content != null)
    {
        <meta property="og:title" content="@this.SEOContent.Title" />
        <meta property="og:description" content="@this.SEOContent.MetaDescription" />
        <meta property="og:image" content="@this.GetAttachmentUrl("OpenGraphImage", fullPath:true)" />
    }

    <!-- Facebook Open Graph Tag-->
    <meta property="og:url" content="@this.GetOpenGraphUrl()" />
    <meta property="og:type" content="article" />

    @if (this.Site.Application != null && this.Site.Application.GoogleSiteVerification != null)
    {
        <meta name="google-site-verification" content="@(this.Site.Application.GoogleSiteVerification)" />

        <meta property="fb:app_id" content="@(this.Site.Application.FacebookAppId)" />
    }

    @this.RenderSection("Style", false)
    @this.RenderSection("Head", false)

    <link href="~/NancyBlack/Modules/ContentSystem/ncb-content.min.css" rel="stylesheet" />

    @if (this.Request.Url.HostName == "localhost")
    {
        <script type="text/javascript" src="https://paytest.treepay.co.th/js/plugin.tp"></script>
    }
    else
    {
        <script type="text/javascript" src="https://pay.treepay.co.th/js/plugin.tp"></script>
    }

    <script src="/NancyBlack/Content/Scripts/moment-with-locales.min.js"></script>

</head>
<body ncb-membership
      ng-module="BaseModule"
      ng-controller="BaseController as bCtrl"
      class="lang-@(this.Language == string.Empty ? "neutral" : this.Language)">


    @if (this.Site.lockdown != null &&
         this.Site.lockdown.enable == true &&
         this.Request.Url.Path != "/__editor")
    {
        <i class="fa fa-lock"
           style="font-size: 100px; opacity: 0.5; position: fixed; right: 0; top: 0; pointer-events: none; color: red; z-index:999999"></i>
    }


    @RenderBody()

    <script data-cfasync="false">
        // Make :hover works on ipad
        document.addEventListener("touchstart", function(){}, true);

        @if (this.CurrentUser.IsAnonymous == false)
        {
            // automatically set current user info into window variable
            <text>
        window.currentUser = @this.Html.Raw( this.GetJson( this.CurrentUser ));
        </text>
        }

        @if (this.CurrentUser.HasClaim("Admin") || this.CurrentUser.HasClaim("Editor"))
        {
            <text>
            window.model = { };
            window.model.Content = @this.Html.Raw(this.GetJson(this.Model.Content));
        </text>
        }

        window.language = "@(this.Language)";
        window.currency = "@(this.Currency)"
    </script>

    <script src="/NancyBlack/Content/Scripts/ncb-dependencies.js"></script>


    @if (this.Request.Url.HostName == "localhost" || this.Request.Url.HostName.StartsWith("local"))
    {
        @this.Html.Raw(NantCom.NancyBlack.Configuration.ModuleResource.JS)
    }
    else
    {
        <script src="/__bundle/js"></script>
    }

    @{
        foreach (var item in NantCom.NancyBlack.Configuration.ModuleResource.Includes)
        {
            @this.Html.Partial(item, this.Model);
        }
    }

    @RenderSection("Scripts", false)
    @RenderSection("Script", false)

    <script>

        (function() {

            var module = angular.module('BaseModule', []);
                module.controller("BaseController", function ($scope) {

                    var $me = this;
                    $me.trackandnavigate = function (url, event, value) {

                        if (value != null) {

                            value = (value + "").replace(/,/g, '');

                            fbq('track', event, {
                                value: value,
                                currency: 'THB'
                            });

                        } else {

                            fbq('track', event );
                        }
                        
                        window.open(url, "_blank");
                        return false;
                    };

                $scope.PAGE_URL = window.location.href;
                $scope.Math = window.Math;
                $scope.window = window;
                $scope.navigator = navigator;
                
                $scope.TicksToDate = function( input ) {

                    var epochTicks = 621355968000000000,    // the number of .net ticks at the unix epoch
                        ticksPerMillisecond = 10000,        // there are 10000 .net ticks per millisecond
                        jsTicks = 0,                        // ticks in javascript environment

                    jsTicks = (input - epochTicks) / ticksPerMillisecond;
                    return new Date(jsTicks); // N.B. Js applies local timezone in automatic
                }

                if (typeof(window.moment) != "undefined") {
                    $scope.moment = window.moment;
                }
                
                // social proves
                $scope.$on('ncb-socialprove.ready', function (s, e) {

                    e.user.getpageview(function (s) {

                        var proof = $scope.socialprove.proves['TotalVisitor'];
                        var totalPerTime = proof.Distinct / proof.TimeInterval;

                        $scope.socialprove.showproof({
                            img: "https://png.icons8.com/color/96/000000/group.png",
                            title: s.Distinct + " ท่าน",
                            message: "เข้าชมหน้านี้ จากผู้เข้าชมทั้งหมด <b>" + parseInt(totalPerTime * s.TimeInterval) + "</b> ท่าน",
                            footer: 'ใน ' + moment().add(s.TimeInterval, 'minutes').to(moment())
                        }, true);
                    });
                });


            });

        })();

        window.loaded = false;
        window.initialize = function() {

            if (window.loaded == true) {

                return;
            }

            // base modules
            var modules = [
                "LocalStorageModule",
                "ui.bootstrap",
                "ui.validate",
                "ui.select",
                "ngAnimate",
                "ngSanitize",
                "ngCookies",
            ];

            // ncb modules
            var systemModules = @this.Html.Raw( this.GetJson( NantCom.NancyBlack.Configuration.ModuleResource.AngularModules) );
            modules = modules.concat( systemModules );

            $("*[ng-module]").each(function () {
                var me = $(this);
                modules.push(me.attr("ng-module"));
                me.removeAttr("ng-module");
            });

            angular.bootstrap($("body"), modules);
            window.loaded = true;
        };

        window.addEventListener( "load", window.initialize );

        $(document).ready( function() {

            window.setTimeout( window.initialize, 400 );

            //#region Helper to support drag and drop and prevent dropping file to document

            var handleEnter = function (e) {
                e.stopPropagation();
                e.preventDefault();
                $("[dropable]").addClass("hintdrop");
            };
            var cancel = function (e) {
                e.stopPropagation();
                e.preventDefault();
            };

            $(document).on('dragenter', cancel);
            $(document).on('dragover', handleEnter);
            $(document).on('drop', cancel);

            //#endregion

        });
    </script>

    @if (this.Site.Application != null &&
                                 this.Request.Url.Path.StartsWith("/Admin") == false &&
                                 this.Request.Url.Path.StartsWith("/__editor") == false)
    {
        @if (this.Site.Application.FacebookAppId != null)
        {
            <script>

                window.facebookAppId = '@(this.Site.Application.FacebookAppId)';

                window.fbAsyncInit = function () {
                    FB.init({
                        appId: '@(this.Site.Application.FacebookAppId)',
                        xfbml: true,
                        status: true,
                        version: 'v3.1'
                    });
                };

                (function (d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) { return; }
                    js = d.createElement(s); js.id = id;
                    js.src = "//connect.facebook.net/en_US/sdk/xfbml.customerchat.js";
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
            </script>
        }

        @if (this.Site.Application.GoogleAnalyticsId != null)
        {
            <script>
                (function (i, s, o, g, r, a, m) {
                    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date(); a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
                })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

                ga('create', '@(this.Site.Application.GoogleAnalyticsId)', 'auto');
                ga('send', 'pageview');

            </script>

        }

        @if (this.Site.Application.FacebookPixelId != null)
        {
            <!-- Facebook Pixel Code -->
                <script>
                    !function (f, b, e, v, n, t, s) {
                        if (f.fbq) return; n = f.fbq = function () {
                            n.callMethod ?
                            n.callMethod.apply(n, arguments) : n.queue.push(arguments)
                        }; if (!f._fbq) f._fbq = n;
                        n.push = n; n.loaded = !0; n.version = '2.0'; n.queue = []; t = b.createElement(e); t.async = !0;
                        t.src = v; s = b.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t, s)
                    }(window,
                    document, 'script', '//connect.facebook.net/en_US/fbevents.js');

                    fbq('init', '@(this.Site.Application.FacebookPixelId)', { external_id: '@(this.Context.Items["userid"])' });
                    fbq('track', "PageView");
                </script>
                <noscript>
                    <img height="1" width="1" style="display:none"
                         src="https://www.facebook.com/tr?id=@(this.Site.Application.FacebookPixelId)&ev=PageView&noscript=1" />
                </noscript>
            <!-- End Facebook Pixel Code -->
        }


        <script>
            window.twttr = (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0],
                  t = window.twttr || {};
                if (d.getElementById(id)) return t;
                js = d.createElement(s);
                js.id = id;
                js.src = "https://platform.twitter.com/widgets.js";
                fjs.parentNode.insertBefore(js, fjs);

                t._e = [];
                t.ready = function(f) {
                    t._e.push(f);
                };

                return t;
            }(document, "script", "twitter-wjs"));
        </script>
    }

</body>



</html>
