@inherits NantCom.NancyBlack.NancyBlackRazorViewBase
@using NantCom.NancyBlack.Modules.DatabaseSystem
@{
    Layout = "_admin.cshtml";
}
@section Title
{
    Administration - Dynamic Query
}

@section Scripts
{
    <script src="~/NancyBlack/Modules/DatabaseSystem/Views/databasesystem-dynamicquery.js"></script>
}

@{ 
    string entityName = null;
    DataType entity = null;

    if (this.Model.Data != null)
    {
        entityName = this.Model.Data.OriginalName;
        entity = this.Model.Data;
    }
}
<div ng-module="DynamicQueryModule"
     ng-controller="DynamicQueryController as ctrl">

    <h1 class="page-header">
        Dynamic Query :
        <select>
            <option ng-selected="t.NormalizedName == '@(entityName)'"
                    ng-repeat="t in dataTypes"
                    ng-click="ctrl.setDataType(t)">{{t.OriginalName}}</option>
        </select>
        <i class="fa fa-spinner fa-circle-o-notch" ng-show="isBusy"></i>
    </h1>

    @if (entity != null)
    {

    <div ncb-datacontext table="@(entityName)">
        <ncb-ngtable tabletemplate="'tablecustomtemplate.html'" modalid="@(entityName)Modal">
        </ncb-ngtable>
    </div>


    <script type="text/ng-template" id="tablecustomtemplate.html">

        <table id="NcbNgTable"
               ncb-datatable
               class="table table-striped table-hover"
               style="width: 100%"
               ng-table="tableParams"
               show-filter="true">

            <tr ng-repeat="item in tableParams.data">

                @foreach (var property in entity.Properties)
                {
                    if (property.Name == "Id" || property.Name == "__version" || property.Name.StartsWith("js_"))
                    {
                        continue;
                    }
                    else if (property.Name.EndsWith("Id"))
                    {
                        // Lookup
                        var tableName = property.Name.Substring(0, property.Name.Length - 2);
                        <td>
                            <span ncb-vlookup="@(tableName)" key="{{item.@(property.Name)}}">
                            </span>
                        </td>
                    }
                    else if (property.Type.EndsWith("[]"))
                    {
                        // array
                        <td data-title="'@(property.Name)'"
                            sortable="'@(property.Name)'">
                            <ul ng-repeat="subitem in item.@(property.Name)">
                                <li>{{subitem}}</li>
                            </ul>
                        </td>
                    }
                    else if (property.Type == "int")
                    {
                        <td data-title="'@(property.Name)'"
                            sortable="'@(property.Name)'">
                            {{item.@(property.Name) | number }}
                        </td>
                    }
                    else if (property.Type == "double")
                    {
                        <td data-title="'@(property.Name)'"
                            sortable="'@(property.Name)'">
                            {{item.@(property.Name) | number:2 }}
                        </td>
                    }
                    else if (property.Type == "DateTime")
                    {
                        <td data-title="'@(property.Name)'"
                            sortable="'@(property.Name)'">
                            {{item.@(property.Name) | date:'dd MMMM yyyy, HH:mm' }}
                        </td>
                    }
                    else
                    {
                        <td data-title="'@(property.Name)'"
                            sortable="'@(property.Name)'"
                            filter="{ '@(property.Name)': 'text' }">
                            {{item.@(property.Name) }}
                        </td>
                    }
                }
                <td style="white-space: nowrap">

                    <button class="btn btn-default"
                            ng-click="data.copy(item)">
                        <i class="fa fa-copy"></i>
                    </button>

                    <button class="btn btn-info"
                            data-toggle="modal" data-target="#@(entityName)Modal"
                            ng-click="data.view(item)">
                        <i class="fa fa-edit"></i>
                    </button>
                </td>
            </tr>
        </table>

    </script>

    // end entity != null;
    } 




</div>