@inherits NantCom.NancyBlack.NancyBlackRazorViewBase

@{
    Layout = "_basecode";
}

<div class="alert alert-danger text-center" style="font-size: 200%">
    <h1 style="font-size: 200%">That's Unfortunate!</h1>
    <p>
        We have got error while processing your request.<br/>
    </p>
</div>
<pre>
    @if (this.RenderContext.Context.Items.ContainsKey("ERROR_TRACE"))
    {
        @this.RenderContext.Context.Items["ERROR_TRACE"]
    }    
</pre>

@if (this.RenderContext.Context.Items.ContainsKey("ERROR_EXCEPTION"))
{
    var json = Newtonsoft.Json.JsonConvert.SerializeObject(this.RenderContext.Context.Items["ERROR_EXCEPTION"]);
    
    <div id="jsoneditor" style="width: 100%; height: 500px;"></div>
    <script type="text/javascript">
        // create the editor
        var container = document.getElementById("jsoneditor");
        var editor = new JSONEditor(container);

        // set json
        var json = @(this.Html.Raw(json));
        editor.set(json);

        // get json
        var json = editor.get();
    </script>

}



@if (this.RenderContext.Context.Items.ContainsKey("Exception"))
{
    var ex = this.RenderContext.Context.Items["Exception"] as Exception;
    <p>
        <b>@(ex.GetType().Name) :</b> <br />

        @(ex.Message)
    </p>
    <p>
        <b>Stack Trace:</b>
        <pre style="overflow-y:scroll; max-height: 300px">
                @(ex.StackTrace)
            </pre>
    </p>
}
