@inherits NantCom.NancyBlack.NancyBlackRazorViewBase
@{
    Layout = "_base";

    
}

@section Head
{
    <link href="/NancyBlack/Content/Scripts/jsoneditor/jsoneditor.min.css" rel="stylesheet" />
    <link href="/NancyBlack/Modules/AdminSystem/Views/admin.css" rel="stylesheet" />

    @RenderSection("Head", false)
}

@section Title
{
    @RenderSection("Title", false)
}

@helper DisplayMenu() {

    <li style="margin-top: 20px"><b>System</b></li>
    <li><a href="/Admin/Membership">Membership</a></li>
    <li><a href="/Admin/sitesettings">Settings</a></li>
    <li><a href="/Admin/Tables">Data Types</a></li>
    <li><a href="/Admin/Tablesec">REST API Access</a></li>
    <li><a href="/Admin/DataWatcher">Data Watch</a></li>

    <li style="margin-top: 20px"><b>Accounting</b></li>
    <li><a href="/Admin/tables/accountingentry">Accounting Entry</a></li>
    <li><a href="/Admin/tables/purchaseorder">Purchase Order</a></li>

    <li style="margin-top: 20px"><b>Commerce</b></li>
    <li><a href="/Admin/tables/saleorder">Sale Order</a></li>
    <li><a href="/admin/commerce/printreceipt">Receipt Print</a></li>
    <li><a href="/Admin/tables/investment">Sale Report</a></li>
    <li><a href="/Admin/tables/product">Product</a></li>
    <li><a href="/Admin/tables/suplier">Supplier</a></li>
    <li><a href="/Admin/tables/inventorymovement">Inventory</a></li>
    <li><a href="/Admin/commerce/settings">Settings</a></li>
    
    <li><b>Manage Data</b></li>
    @foreach (var item in this.Database.DataType.RegisteredTypes.OrderBy(item => item.NormalizedName))
    {
        if (item.NormalizedName.StartsWith("aaf_"))
        {
            continue;
        }
        <li><a href="/Admin/Tables/@item.NormalizedName">@item.OriginalName</a></li>
    }

}

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">

            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul id="hamburger" class="nav navbar-nav navbar-right" style="margin-right: 10px">
                @DisplayMenu()
                <li></li>
                <li class="always"><a href="/__membership/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container-fluid main">
    <div class="row" >
        <div class="col-md-1" >

            <ul class="nav nav-sidebar sidebar">
                @DisplayMenu()
            </ul>
        </div>
        <div class="col-md-11">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts
{
    <script src="/NancyBlack/Content/Scripts/jsoneditor/jsoneditor.min.js"></script>
    @RenderSection("Scripts", false)
    @RenderSection("Script", false)
}