@inherits NantCom.NancyBlack.NancyBlackRazorViewBase
@{
    Layout = "_base";

    
}

@section Head
{
    <link href="/NancyBlack/Content/Scripts/jsoneditor/jsoneditor.min.css" rel="stylesheet" />
    <link href="/NancyBlack/Modules/AdminSystem/Views/admin.css" rel="stylesheet" />

    @RenderSection("Head", false)
}

@section Title
{
    @RenderSection("Title", false)
}


<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" aria-expanded="false" aria-controls="navbar" type="button" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">NancyBlack Admin</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar">

            <ul class="nav navbar-nav">
                
                <li class="dropdown">
                    <a class="dropdown-toggle" role="button" aria-expanded="false" aria-haspopup="true" href="#" data-toggle="dropdown">
                        Sales <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/Admin/tables/saleorder">Sales</a></li>
                        <li><a href="/Admin/tables/rma">RMA</a></li>
                        <li><a href="/Admin/tables/investment">Sell Report</a></li>
                        <li><a href="/Admin/tables/suplier">Supplier</a></li>
                        <li><a href="/Admin/tables/product">Product</a></li>
                        <li><a href="/Admin/commerce/settings">Settings</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" role="button" aria-expanded="false" aria-haspopup="true" href="#" data-toggle="dropdown">
                        Accounting <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/Admin/accounts">Accounts</a></li>
                        <li><a href="/Admin/tables/accountingentry">Accounting Entry</a></li>
                        <li><a href="/admin/commerce/printreceipt">Receipt Print</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" role="button" aria-expanded="false" aria-haspopup="true" href="#" data-toggle="dropdown">
                        Inventory <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/Admin/tables/inventoryitem">Stock Dashboard</a></li>
                        <li><a href="/Admin/tables/inventorypurchase">Stock Purchase</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" role="button" aria-expanded="false" aria-haspopup="true" href="#" data-toggle="dropdown">
                    System <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/Admin/Membership">Membership</a></li>
                        <li><a href="/Admin/sitesettings">Settings</a></li>
                        <li><a href="/Admin/Tables">Data Types</a></li>
                        <li><a href="/Admin/Tablesec">REST API Access</a></li>
                        <li><a href="/Admin/DataWatcher">Data Watch</a></li>
                    </ul>
                </li>
                
                <li class="dropdown">
                    <a class="dropdown-toggle" role="button" aria-expanded="false" aria-haspopup="true" href="#" data-toggle="dropdown">
                        Manage Raw Data <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">

                        @foreach (var item in this.Database.DataType.RegisteredTypes.OrderBy(item => item.NormalizedName))
                        {
                            if (item.NormalizedName.StartsWith("anonymoustype"))
                            {
                                continue;
                            }
                            <li><a href="/Admin/Tables/@item.NormalizedName">@item.OriginalName</a></li>
                        }

                    </ul>
                </li>
            </ul>

        </div><!--/.navbar-collapse -->
    </div>
</nav>

<div class="container main">
    
    @RenderBody()
</div>

@section Scripts
{
    <script src="/NancyBlack/Content/Scripts/jsoneditor/jsoneditor.min.js"></script>
    @RenderSection("Scripts", false)
    @RenderSection("Script", false)
}